/* styles/global.css */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.8;
  font-size: 20px;
  background-color: #f3abe0;
  color: #c37b7b;
}

* {
  box-sizing: border-box;
}

a {
  color: #35082bdf;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 1rem;
}